.home {
  top: 0;
  left: 0;
  width: 100%;
  height: 500vh;
  margin: 0;
  padding: 0;
  background-color:black;
}

.intro {
  color: white;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative; 
}

.cubeContainer {
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

@keyframes jump {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); } /* Adjust for desired height */
}

