.menuContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: right;
    align-items: right;
    z-index: 1;
  }
  
  .menuPhoto {
    cursor: pointer;
    max-width: 32px;
    position: fixed;
    top: 0;
    right: 0;
  }
  
  .menuLinks {
    list-style-type: none;
    color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0px 48px;
    display: flex;
    flex-direction: row;
  }
  
  .menuLinks li {
    margin: 10px 0 0 5px;
    color: #ffffff;
    padding: 0 5px;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
  }
  
  .menuLinks li Link {
    text-decoration: none;
    color: #ffffff;
    z-index: 2;
  }
  