.navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 0; /* Add right padding */
    height: 0px;
  }
  
  .navList {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-right: 2rem;
  }
  
  .navItem {
    margin-left: 1rem;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
  }
  
  