.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  max-width: 50%; /* Adjust the modal width */
  position: relative;
  display: flex; /* Add flexbox properties */
  flex-direction: column; /* Add flexbox properties */
  align-items: center; /* Add flexbox properties */
}


.profileImage {
  width: 25%; /* Adjust the image width */
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  display: none;
}

.profileImage.visible {
  display: block;
}

.description {
  font-size: 24px; /* Adjust this value to change the text size */
  text-align: center;
  margin-top: 20px; /* Add some margin to separate the text from the image */
}
